{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group boarder-top pt-1">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control for-control-lg") }}
                </div>
                <div class="form-group boarder-top pt-1">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control for-control-lg") }}
                </div>
                <div class="form-group boarder-top pt-1">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control for-control-lg") }}
                </div>
                <div class="form-group boarder-top pt-1">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {{ form.confirm_password(class="form-control for-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group boarder-top pt-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="boarder-top pt-3">
        <small class="test-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}
